{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Controle</title>
    </head>
    <body>
        <hr>
        {% for loc in locacao %}
        <h1>Locação</h1>
            <li>id: {{loc.id}}</li>
            <li>codigo_reserva: {{loc.codigo_reserva}}</li>
            <li>endereco: {{loc.endereco}}</li>
            <li>cep: {{loc.cep}}</li>
            <li>nome_usuario: {{loc.nome_usuario}}</li>
            <li>numero_usuario: {{loc.numero_usuario}}</li>
            <li>quatidade_adultos: {{loc.quatidade_adultos}}</li>
            <li>quatidade_criancas: {{loc.quatidade_criancas}}</li>
            <li>quantidade_pet: {{loc.quantidade_pet}}</li>
            <li>quantidade_diarias: {{loc.quantidade_diarias}}</li>
            <li>valor_a_pagar: {{loc.valor_a_pagar}}</li>
            <li>ja_pago: {{loc.ja_pago}}</li>

            <h3>checkin</h3>
            {% for checkin in loc.checkin %}
                <li>id: {{checkin.id}}</li>
                <li>data_checkin: {{checkin.data_checkin}}</li>
                <li>horario_checkin: {{checkin.horario_checkin}}</li>
                <li>status: {{checkin.status}}</li>
            {% endfor %}

            <h3>checkout</h3>
            {% for checkout in loc.checkout %}
                <li>id: {{checkout.id}}</li>
                <li>data_checkout: {{checkout.data_checkout}}</li>
                <li>horario_checkout: {{checkout.horario_checkout}}</li>
                <li>status: {{checkout.status}}</li>
            {% endfor %}
            <hr>
        {% endfor %}



        <h1>Limpezas</h1>
        {% for limpeza in limpezas %}
            <li>id: {{ limpeza.id_limpeza }}</li>
            <li>hora_limpeza: {{ limpeza.hora_limpeza }}</li>
            <li>data_limpeza: {{ limpeza.data_limpeza }}</li>
            <li>status_limpeza: {{ limpeza.status_limpeza }}</li>
        {% endfor %}
        <hr>


        <!-- <h1>Checkin</h1>
        {% for checkin in checkin_user %}
            <li>id: {{checkin.id}}</li>
            <li>codigo_reserva: {{checkin.codigo_reserva}}</li>
            <li>data_checkin: {{checkin.data_checkin}}</li>
            <li>horario_checkin: {{checkin.horario_checkin}}</li>
            <li>endereco: {{checkin.endereco}}</li>
            <li>cep: {{checkin.cep}}</li>
            <li>nome_usuario: {{checkin.nome_usuario}}</li>
            <li>quatidade_adultos: {{checkin.quatidade_adultos}}</li>
            <li>quatidade_criancas: {{checkin.quatidade_criancas}}</li>
            <li>quantidade_pet: {{checkin.quantidade_pet}}</li>
            <li>quantidade_diarias: {{checkin.quantidade_diarias}}</li>
            <li>valor_a_pagar: {{checkin.valor_a_pagar}}</li>
            <li>ja_pago: {{checkin.ja_pago}}</li>
            <hr>
        {% endfor %}

        <h1>Checkout</h1>
        {% for checkout in checkout_user %}
            <li>id: {{checkout.id}}</li>
            <li>codigo_reserva: {{checkout.codigo_reserva}}</li>
            <li>data_checkout: {{checkout.data_checkout}}</li>
            <li>horario_checkout: {{checkout.horario_checkout}}</li>
            <li>endereco: {{checkout.endereco}}</li>
            <li>cep: {{checkout.cep}}</li>
            <li>nome_usuario: {{checkout.nome_usuario}}</li>
            <li>quatidade_adultos: {{checkout.quatidade_adultos}}</li>
            <li>quatidade_criancas: {{checkout.quatidade_criancas}}</li>
            <li>quantidade_pet: {{checkout.quantidade_pet}}</li>
            <li>quantidade_diarias: {{checkout.quantidade_diarias}}</li>
            <li>valor_a_pagar: {{checkout.valor_a_pagar}}</li>
            <li>ja_pago: {{checkout.ja_pago}}</li>
            <hr>
        {% endfor %} -->



        <!-- <div>
            <ul class="task-list">
                <h2>Locação</h2>
                {% for controle in controles %}
                    <li>
                        {{ controle.checkin.hora_checkin }}
                        {{ controle.checkin.data_checkin }}
                        {{ controle.checkin.responsavel_checkin }}
                        {{ controle.checkin.status_checkin }}
                        <br>
                        {{ controle.checkout.hora_checkout }}
                        {{ controle.checkout.data_checkout }}
                        {{ controle.checkout.responsavel_checkout }}
                        {{ controle.checkout.status_checkin }}
                        <br>
                        {{ controle.limpeza.hora_limpeza }}
                        {{ controle.limpeza.data_limpeza }}
                        {{ controle.limpeza.status_checkin }}
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div> 
            <h2>checkins</h2>
            <ul>
                {% for cin in checkins %}
                <li>
                    Código: {{ cin.id_checkin }} <br>
                    Hora: {{ cin.hora_checkin }} <br>
                    Data: {{ cin.data_checkin }} <br>
                    Responsável: {{ cin.responsavel_checkin }} <br>
                </li>    
        
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>checkouts</h2>
            <ul>
                {% for cout in checkouts %}
                <li>
                    Código: {{ cout.id_checkout }} <br>
                    Hora: {{ cout.hora_checkout }} <br>
                    Data: {{ cout.data_checkout }} <br>
                    Responsável: {{ cout.responsavel_checkout }} <br>
                </li>
        
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Limpezas</h2>
            <ul>
                {% for limp in limpezas %}
                <li>
                    Código: {{ limp.id_limpeza }} <br>
                    Hora: {{ limp.hora_limpeza }} <br>
                    Data: {{ limp.data_limpeza }} <br>
                </li>
                {% endfor %}
            </ul>
        </div> -->

    </body>
</html>